<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header text-center="">
      Indice actuel
    </ion-card-header>
    <ion-card-content text-center="">

      <div *ngIf="plageHoraire===null; else notNullBlock">
        <ion-icon ios="ios-help" md="md-help"></ion-icon>
      </div>

      <ng-template #notNullBlock>
        <div class="pourcentage" text-center="">{{this.evaluationPourcentage}}%</div>
        <div [ngSwitch]="plageHoraire.weatherData.weather.icon">
        <ion-item>
            <ion-icon name='cloud-done' item-start></ion-icon>
            Taux pollution : {{plageHoraire.donneeAthmospherique.indice}}%
        </ion-item>
        <ion-item>
          <ion-icon  name='sunny' *ngSwitchCase="'01d'" item-start></ion-icon>
          <ion-icon  name='sunny' *ngSwitchCase="'02d'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'03d'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'04d'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'50d'" item-start></ion-icon>
          <ion-icon  name='rainy' *ngSwitchCase="'09d'" item-start></ion-icon>
          <ion-icon  name='rainy' *ngSwitchCase="'10d'" item-start></ion-icon>
          <ion-icon  name='thunderstorm' *ngSwitchCase="'12d'" item-start></ion-icon>
          <ion-icon  name='snow' *ngSwitchCase="'13d'" item-start></ion-icon>
          <ion-icon  name='moon' *ngSwitchCase="'01n'" item-start></ion-icon>
          <ion-icon  name='moon' *ngSwitchCase="'02n'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'03n'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'04n'" item-start></ion-icon>
          <ion-icon  name='cloud' *ngSwitchCase="'50n'" item-start></ion-icon>
          <ion-icon  name='rainy' *ngSwitchCase="'09n'" item-start></ion-icon>
          <ion-icon  name='rainy' *ngSwitchCase="'10n'" item-start></ion-icon>
          <ion-icon  name='thunderstorm' *ngSwitchCase="'12n'" item-start></ion-icon>
          <ion-icon  name='snow' *ngSwitchCase="'13n'" item-start></ion-icon>
          <ion-icon *ngSwitchDefault name='sunny' item-start></ion-icon>
          Météo actuelle
        </ion-item>
      </div>
      </ng-template>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center="">
      Mon objectif hebdomadaire
    </ion-card-header>
    <ion-card-content text-center="">
      <p>Progression de l'objectif pour cette semaine</p>
      <progress-bar [progress]="loadProgress"></progress-bar>
      <button ion-button clear (click)="seeProgramme()">Voir mon programme</button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="nextActivity; else noActivityBlock">
    <ion-card>
      <ion-card-header text-center="">
        Prochaine activité
      </ion-card-header>
      <ion-card-content text-center="">
        <p>
          {{dateStr}} entre {{activity.timeFrame.heureDebut}}h et {{activity.timeFrame.heureFin}}h, {{activity.distancePrevue}} km de {{activity.sport.nom}} à
          {{activity.centreInteret.name }}
        </p>
        <button ion-button clear (click)="seeDetails()">Détails</button>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noActivityBlock>
    <ion-card>
      <ion-card-content text-center="">
        Pas de prochaine activité cette semaine.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab right bottom>
    <button ion-fab (click)="presentActionSheet()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

