page-home {
  ion-icon {
    display: inline-block;
    font-size: 300% !important; //Preferred size here
  }

  ion-row{
    display: flex;
    justify-content: center;
  }
  ion-col{

    display: flex;
    justify-content: center;
  }
  .pourcentage {
    color: #7a4d4a;
    font-size: 150%;
  }
}
