<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header text-center="">
      Maintenant
    </ion-card-header>
    <ion-card-content text-center="">

      <div *ngIf="evaluation.note===null; else notNullBlock">
        <ion-icon ios="ios-help" md="md-help"></ion-icon>
      </div>
      <ng-template #notNullBlock>
        <div *ngIf="thumbup; else elseBlock">
          <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" [ngStyle]="{'color': color}"></ion-icon>
        </div>
        <ng-template #elseBlock>
          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" [ngStyle]="{'color': color}"></ion-icon>
        </ng-template>
      </ng-template>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header text-center="">
      Mon objectif hebdomadaire
    </ion-card-header>
    <ion-card-content text-center="">
      <p>Progression de l'objectif pour cette semaine</p>
      <progress-bar [progress]="loadProgress"></progress-bar>
      <button ion-button clear (click)="seeProgramme()">Voir mon programme</button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="nextActivity; else noActivityBlock">
    <ion-card (click)="seeDetails()">
      <ion-card-header text-center="">
        Prochaine activité
      </ion-card-header>
      <ion-card-content text-center="">
        {{dateStr}}, {{activity.distance}} km de {{activity.sport.nom}}
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #noActivityBlock>
    <ion-card>
      <ion-card-content text-center="">
        Pas de prochaine activité cette semaine.
      </ion-card-content>
    </ion-card>
  </ng-template>

  <ion-fab right bottom>
    <button ion-fab (click)="createActivity()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>

