<ion-header>
  <ion-navbar>
    <ion-title>
      Historique
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center="">
    <ion-row>

      <ion-col col-2>
        <button ion-button color="dark" clear icon-start style="vertical-align:middle" (click)="displayLastWeek()">
          <ion-icon name='arrow-back'></ion-icon>
        </button>
      </ion-col>

      <ion-col col-8>
        Semaine {{week.message}}
      </ion-col>

      <ion-col col-2>
        <button ion-button color="dark" clear icon-end style="vertical-align:middle" (click)="displayNextWeek()">
          <ion-icon name='arrow-forward'></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </div>

  <h1>Bilan de la semaine</h1>
  <p>Distance parcourue: {{bilanDistance}} kms</p>
  <p>Kcal: {{bilanKcal}}</p>

  <h2>Mes activités</h2>
  <ion-list>
    <ion-card *ngFor="let activity of programme.activites">
      <div *ngIf="activity.estRealisee">
        <ion-card-header text-center="">
          <h2>{{activity.date}}</h2>
        </ion-card-header>
        <ion-card-content text-center="">
          <p>{{activity.sport.nom}}, {{activity.distance}} kms</p>
        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>

</ion-content>
