<ion-header>

  <ion-navbar>
    <ion-title>Programme</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div text-center="">
    <ion-list>
      <ion-card *ngFor="let activity of programme.activites">
        <ion-card-title text-center="">
          <ion-icon name="checkmark-circle" style="color: green" *ngIf="activity.estRealisee"></ion-icon>
          {{activity.date}}
        </ion-card-title>
        <ion-card-content>
            <ion-item>
                <ion-icon name='flag' item-start></ion-icon>
                {{activity.distance}}km
            </ion-item>
            <ion-item>
                <ion-icon name='walk' item-start></ion-icon>
                {{activity.sport.nom}}
            </ion-item>
            <ion-item>
                <ion-icon name='compass' item-start></ion-icon>
                {{activity.centreInteret.name}}
            </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</ion-content>
